<div>
    <div ng-hide="$ctrl.game_started">
        <form name="joinRoom" ng-submit="$ctrl.joinRoom()">
                <md-input-container class="md-block">
                    <label>Room Name</label>
                    <input name="roomname" ng-model="$ctrl.room_name" required>
                    <div ng-messages="joinRoom.roomname.$error">
                        <div ng-message="required">Room Name is Required.</div>
                    </div>             
                </md-input-container>
                <md-input-container class="md-block">
                        <label>User Name</label>
                        <input name="username" ng-model="$ctrl.user_name" required>
                        <div ng-messages="joinRoom.username.$error">
                            <div ng-message="required">User Name is Required.</div>
                        </div>             
                    </md-input-container>                
                <md-button
                class="md-raised md-primary" 
                ng-click="$ctrl.joinRoom()"
                ng-disabled="joinRoom.$invalid">Join Room</md-button>                   
            </form>        
    </div>
    <div ng-show="$ctrl.game_started">
           <h1>THE GAME</h1>
           <h3>Chat</h3>
           <div>person on room count : <b>{{$ctrl.client_on_room_count}} </div>
           <form name="chatForm" ng-submit="$ctrl.sendMessageToRoom(chat_message)">
            <md-input-container class="md-block">
                    <label>Message....</label>
                    <input name="chatMessage" ng-model="chat_message" required>
                    <div ng-messages="chatForm.chatMessage.$error">
                        <div ng-message="required">Message is empty</div>
                    </div>
                </md-input-container>
           </form>
           <ul>
               <li ng-repeat="message in $ctrl.chat_messages track by $index">{{message}}</li>
           </ul>
        </div>    
</div>