<div>

    <div class="recorded-videos-list-header">
        <h3>Recorded Videos</h3>
        <a href="/#!/simple-webrtc">Go Back</a>
    </div>
    
    <div class="video-player-container">
        <video id="videoPlayer" controls></video>
    </div>
    
    <div class="recorded-videos-list-container">
        <div class="recorded-video" ng-repeat="recorded_video in $ctrl.recorded_videos" ng-click="$ctrl.playVideo(recorded_video.playlist_key)">
            <img ng-src="{{recorded_video.thumbnail_key}}" />
        </div>
    </div>

</div>
