<div id="loginPage" class="container text-center" ng-hide="$ctrl.logged_in_username">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <h2>WebRTC Video Demo. Please sign in</h2>
            <input ng-model="username">
            <button id="loginBtn" class="btn btn-lg btn-primary btnblock" ng-click="$ctrl.login(username)">Sign in</button>
        </div>
    </div>

</div>

<div id="callPage" class="call-page" ng-show="$ctrl.logged_in_username">
    
    <video id="localVideo" autoplay></video>
    <video id="remoteVideo" autoplay></video>

    <div class="row text-center">
        <h3 ng-show="$ctrl.logged_in_username">Username : {{$ctrl.logged_in_username}}</h3>
        <h3 ng-show="$ctrl.target_username">User on other line : {{$ctrl.target_username}}</h3>        
        <div class="col-md-12">
            <ul ng-hide="$ctrl.target_username">
                <li ng-repeat="username in $ctrl.users_list" ng-hide="username == $ctrl.logged_in_username">
                    {{username}} <button class="btn-success btn" ng-click="$ctrl.connectTo(username)">Call</button>
                </li>
            </ul>
            
            <button ng-show="$ctrl.target_username" ng-click="$ctrl.hangup()" class="btn-danger btn">Hang Up</button>
        </div>
    </div>

</div>

<!-- <div>
    <h4 ng-show="$ctrl.logged_in_username">Hi {{$ctrl.logged_in_username}}</h4>
    <h4 ng-show="$ctrl.target_username">Meet {{$ctrl.target_username}}</h4>
</div> -->

<!-- <div ng-hide="$ctrl.logged_in_username">
    <input type="text" ng-model="username" required/>
    <button ng-click="$ctrl.login(username)">Login</button>
</div>

<div ng-hide="$ctrl.target_username || !$ctrl.logged_in_username">
    <input type="text" ng-model="target_username" required/>
    <button ng-click="$ctrl.connectTo(target_username)">Establish connection</button>
</div>

<div ng-show="$ctrl.target_username">
    <input type="text" ng-model="text_message" required/>
    <button ng-click="$ctrl.sendTextMessage(text_message)">Send text message</button>
</div> -->